<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.study.mapper.CourtMapper" >
  <resultMap id="BaseResultMap" type="com.study.domain.Court" >
    <id column="cid" property="cid" jdbcType="INTEGER" />
    <result column="cname" property="cname" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from court
    where cid = #{cid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.study.domain.Court" >
    insert into court (cid, cname, city
      )
    values (#{cid,jdbcType=INTEGER}, #{cname,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.study.domain.Court" >
    update court
    set cname = #{cname,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR}
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select cid, cname, city
    from court
    where cid = #{cid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select cid, cname, city
    from court
  </select>
  <select id="selectByCity" resultType="java.lang.String">
    select cname from court where city =#{city}
  </select>
  <select id="selectByName" resultType="com.study.domain.Court">
    select cid, cname, city
    from court
    where cname =#{name}
    </select>

</mapper>