<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.study.mapper.SecondindexMapper" >
  <resultMap id="BaseResultMap" type="com.study.domain.Secondindex" >
    <id column="sid" property="sid" jdbcType="INTEGER" />
    <result column="sname" property="sname" jdbcType="VARCHAR" />
    <result column="sweight" property="sweight" jdbcType="DOUBLE" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from secondindex
    where sid = #{sid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.study.domain.Secondindex" >
    insert into secondindex (sname, sweight, parent_id)
    values (#{sname,jdbcType=VARCHAR}, #{sweight,jdbcType=DOUBLE}, #{parentId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.study.domain.Secondindex" >
    update secondindex
    set sname = #{sname,jdbcType=VARCHAR},
      sweight = #{sweight,jdbcType=DOUBLE}
    where sid = #{sid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select sid, sname, sweight, parent_id
    from secondindex
    where sid = #{sid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select sid, sname, sweight, parent_id
    from secondindex
  </select>
  <select id="testRepeat" resultType="com.study.domain.Secondindex">
    select sid, sname, sweight, parent_id
    from secondindex
    where sname = #{name}
  </select>
    <select id="querySecIndex" resultType="com.study.domain.Secondindex">
      select sid, sname, sweight, parent_id
    from secondindex
    where parent_id = #{fid}
    </select>
</mapper>